# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch model files
*.pth

# Plot outputs
plots/*.png

# Other
*.log
.DS_Store